@page
@model FrontEnd.Pages.EditCanModel
@{
    ViewData["Title"]="Edit";
}

<h1>Edit </h1>
<h4>Cancha</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="Cancha.Id" />
                   <div class="form-group">
                    
                    <label asp-for="Cancha.Nombre" class="control-label">  </label>
                    <input asp-for="Cancha.Nombre" class="form-control"/>
                    
                    <label asp-for="Cancha.DisciplinaDep" class="control-label">  </label>
                    <input asp-for="Cancha.DisciplinaDep" class="form-control"/>
                    <label asp-for="Cancha.Estado" class="control-label">  </label>
                    <input asp-for="Cancha.Estado" class="form-control"/>
                    <label asp-for="Cancha.CapacidadEsp" class="control-label">  </label>
                    <input asp-for="Cancha.CapacidadEsp" class="form-control"/>
                    <label asp-for="Cancha.Medidas" class="control-label">  </label>
                    <input asp-for="Cancha.Medidas" class="form-control"/>
                    <label asp-for="Cancha.EscenarioId" class="control-label">  </label>
                    <input asp-for="Cancha.EscenarioId" class="form-control"/>


                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Edit" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="CanIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}