@page
@model FrontEnd.Pages.EditEscArbModel
@{
    ViewData["Title"]="Edit";
}

<h1>Edit </h1>
<h4>EscuelaArbitro</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="EscuelaArbitro.Id" />
                   <div class="form-group">
                        <label asp-for="EscuelaArbitro.NIT" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.NIT" class="form-control"/>
                        <label asp-for="EscuelaArbitro.Nombre" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.Nombre" class="form-control"/>
                        <label asp-for="EscuelaArbitro.Resolucion" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.Resolucion" class="form-control"/>
                        <label asp-for="EscuelaArbitro.Direccion" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.Direccion" class="form-control"/>
                        <label asp-for="EscuelaArbitro.NumTelf" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.NumTelf" class="form-control"/>
                        <label asp-for="EscuelaArbitro.Correo" class="control-label">  </label>
                        <input asp-for="EscuelaArbitro.Correo" class="form-control"/>                    
                       
                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Edit" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="EscArbIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}