@page
@model FrontEnd.Pages.EditTorModel
@{
    ViewData["Title"]="Edit";
}

<h1>Edit </h1>
<h4>Torneo</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="Torneo.Id" />
                   <div class="form-group">
                        <label asp-for="Torneo.Nombre" class="control-label">  </label>
                        <input asp-for="Torneo.Nombre" class="form-control"/>
                        <label asp-for="Torneo.Categoria" class="control-label">  </label>
                        <input asp-for="Torneo.Categoria" class="form-control"/>
                        <label asp-for="Torneo.FechaIni" class="control-label">  </label>
                        <input asp-for="Torneo.FechaIni" class="form-control"/>
                        <label asp-for="Torneo.FechaFin" class="control-label">  </label>
                        <input asp-for="Torneo.FechaFin" class="form-control"/>
                        <label asp-for="Torneo.DisciplinaDep" class="control-label">  </label>
                        <input asp-for="Torneo.DisciplinaDep" class="form-control"/>
                        <label asp-for="Torneo.MunicipioId" class="control-label">  </label>
                        <input asp-for="Torneo.MunicipioId" class="form-control"/>
                        <label asp-for="Torneo.CapacidadEsp" class="control-label">  </label>
                        <input asp-for="Torneo.CapacidadEsp" class="form-control"/>                   
                       
                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Edit" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="TorIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}