@page
@model FrontEnd.Pages.DetailsPatModel
@{
}
<h1>Details</h1>
<h4>Patrocinador</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="Patrocinador.Id" />
                    <div class="form-group">
                       <label asp-for="Patrocinador.Id" class="control-label"> </label>
                       <input asp-for="Patrocinador.Id"  class="form-control" readonly/>                       
                      
                   </div>

                   <div class="form-group">
                       <label asp-for="Patrocinador.Nombre" class="control-label"> </label>
                       <input asp-for="Patrocinador.Nombre"  class="form-control" readonly/>                       
                       
                   </div>
                   
               </form>
           </div>
        </div>

        <div>
            <a asp-page="PatIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

